<p class="message-content">{{ message.text|enrich }}</p>
{% if message.uploads %}
<div class="message-visual">
  <img src="/uploads/{{message.uploads[0].filename()}}">
</div>
{% endif %}
<p class="message-footer">
  <a href="{{ url_for('user_detail', username=message.user.username) }}">{{ message.user.username }}</a> 
  - 
  {% set message_privacy = message.privacy %}
  {% if message.privacy in (0, 1) %} Public
  {% elif message.privacy == 2 %} Friends
  {% elif message.privacy == 3 %} Only me
  {% endif %}
  -
  <time datetime="{{ message.pub_date.isoformat() }}" title="{{ message.pub_date.ctime() }}">{{ message.pub_date | human_date }}</time>
</p>
