<!DOCTYPE html>
<html>
  <head>
    {% set site_name = "Cori+" %}
    <title>{{ site_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div class="header">
      <h1><a href="{{ url_for('homepage') }}">{{ site_name }}</a></h1>
      <div class="metanav">
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
        <a href="{{ url_for('register') }}">register</a>
      {% else %}
        <a href="{{ url_for('user_detail', username=current_user.username) }}">{{ current_user.username }}</a>
        {% set notification_count = current_user.unseen_notification_count() %}
        {% if notification_count > 0 %}
        <a href="{{ url_for('notifications') }}">({{ notification_count }})</a>
        {% endif %}
        - 
        <a href="{{ url_for('public_timeline') }}">explore</a>
        <a href="{{ url_for('create') }}">create</a>
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
      </div>
    </div>
    <div class="content">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
    <script src="/static/lib.js"></script>
  </body>
</html>
