{% extends "base.html" %}

{% block body %}
<h2>Edit Profile</h2>

<form method="POST">
  <dl>
    <dt>Username:</dt>
    <dd><input type="text" class="username-input" name="username" required value="{{ current_user.username }}" autocomplete="off"></dd>
    {% set profile = current_user.profile %}
    <dt>Full name:</dt>
    <dd><input type="text" name="full_name" value="{{ profile.full_name }}"></dd>
    <dt>Biography:</dt>
    <dd><textarea class="biography_text" name="biography">{{ profile.biography }}</textarea></dd>
    <dt>Website:</dt>
    <dd><input type="text" name="website" value="{{ profile.website }}"></dd>
    <dd><input type="submit" value="Save"></dd>
  </dl>
</form>
{% endblock %}
