{% extends "base.html" %}
{% block body %}
  <h2>Join {{ site_name }}</h2>
  <form action="{{ url_for('register') }}" method="post">
    <dl>
      <dt>Username:</dt>
      <dd><input type="text" class="username-input" name="username"></dd>
      <dt>Password:</dt>
      <dd><input type="password" name="password"></dd>
      <dt>Email:</dt>
      <dd><input type="text" name="email"></dd>
      <dt>Birthday:
      <dd><input type="text" name="birthday" placeholder="yyyy-mm-dd">
      <dd><input type="submit" value="Join">
    </dl>
  </form>
{% endblock %}
