{% extends "base.html" %}
{% block body %}
  <h2>Join {{ site_name }}</h2>
  <form action="{{ url_for('website.register') }}" method="POST">
    <dl>
      <dt>Username:</dt>
      <dd><input type="text" class="username-input" name="username" autocomplete="off"></dd>
      <dt>Full name:</dt>
      <dd>
        <small class="field_desc">If not given, defaults to your username.</small>
        <input type="text" name="full_name">
      </dd>
      <dt>Password:</dt>
      <dd><input type="password" name="password"></dd>
      <dt>Email:</dt>
      <dd><input type="text" name="email"></dd>
      <dt>Birthday:</dt>
      <dd>
        <small class="field_desc">Your birthday won't be shown to anyone.</small>
        <input type="text" name="birthday" placeholder="yyyy-mm-dd">
      </dd>
      {% if not current_user.is_anonymous %}
      <dd>
        <input type="checkbox" name="confirm_another" value="1">
        <label for="confirm_another">I want to create another account</label>
      </dd>
      {% endif %}
      <dd>
        <input type="checkbox" name="legal" value="1">
        <label for="legal">I've read the <a href="/terms/">Terms of Service</a> and <a href="/privacy/">Privacy Policy</a>.</label>
      </dd>
      <dd><input type="submit" value="Join">
    </dl>
  </form>
{% endblock %}
